<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <img class="headerimg" src="/images/2beers.png">
    </a>
    <div class="navbar-start">
      <h1 class="title headertitle">Hold My Beer...</h1>
    </div>

    <!-- <div class="navbar-end">
      <a href="javascript:history.back()"><h3 class="button is-primary is-large">Back</h3></a>
    </div> -->

    <button class="button navbar-burger">
      <span><a href="/">Home</a></span>
      <span>Users</span>
      <span>Beers</span>
      <span>Nuisance</span>
    </button>
  </div>
</nav>
