<div id="header" class="columns has-text-centered">
<div class="column is-one-quarter"><a href="javascript:history.back()"><h3 class="button is-primary is-large">Back</h3></a></div>
<div class="column is-half "><h1 class="title is-1">beer beer beer</h1></div>
<div class="column is-one-quarter"><a href="/"><h3 class="button is-primary is-large">Home</h3></a></div>
</div><!--columns-->