<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Drinkers</p>
      <p class="title">13</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Brands</p>
      <p class="title">6</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Beers</p>
      <p class="title">6</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Tried</p>
      <p class="title">0</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Likes</p>
      <p class="title">0</p>
    </div>
  </div>

</nav>
