<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="beer-bottle-32.ico" sizes="32x32" />
    <title>HOLD MY BEER...</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Bungee|Bungee+Inline|Bungee+Shade|Faster+One|Lobster+Two:400,700|Raleway:400,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="memegenerator.js"></script>
    <script src="navburger.js"></script>

  </head>

  <body class="app-container">
    <section class="section">
      {{{body}}}
    </section>
  </body>

  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          This website was proudly created by <strong>serversidedawgs </strong>using <strong><a href="http://bulma.io/Bulma">Bulma</a></strong>.
          <br />
          <a href="http://opensource.org/licenses/mit-license.php"> License</a>, <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC</a>, & <a href="http://www.cheers.org.nz/time-to-party/going-out/drinking-and-not-driving.html">drink responsibly.</a>
        </p>
        <p>
          <a class="icon" href="https://github.com/rajal-kumar/sat-4-boys">
            <i class="fa fa-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>

</html>
