<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BEERS BOYZ</title>
   <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css.map">
  <link rel="stylesheet" href="/main.css">
  </head>
  <body class="app-container">
    <section class="section">
      {{{body}}}
    </section>
  </body>
</html>
 
