<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HOLD MY BEER...</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Bangers|Bungee|Bungee+Inline|Bungee+Shade|Faster+One|Lobster+Two:400,700|Raleway:400,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    <script src="memegenerator.js"></script>
  </head>

  <body class="app-container">
    <section class="section">
      {{{body}}}
    </section>
  </body>

  <a id="btnmeme" class="button is-primary">Sure I'd like a meme</a>



</html>
