{{>header}}
<form  class="form has-text-centered" method="post" action="/addbeer">
  <label  class="label " for="beer_brand" class="form-item">
  Beer Brand: <input class="input" type="text" name="beer_brand">
  </label>
  <br>
  <label class="label " for="beer_type" class="form-item">
  Beer Type: <input class="input" type="text" name="beer_type">
  </label>
  <br>
  <label class="label " for="beer_image" class="form-item">
  Beer Image Link: <input class="input" type="text" name="beer_image">
  </label>
  <br>
  <label class="label " for="image" class="form-item">
  Logo Image link: <input class="input" type="text" name="image">
  </label>
  <br>
  <input class="button is-success is-large" type="submit" value ="Submit">
</form>