<div class="container has-text-centered">
{{>header}}
  <div class="wrapper">
  {{#each beers}}
    <div class="columns">
      <div class="column"><a href="/beers/{{beer_id}}"><img src="{{image}}" width="100px"></a></div>
      <a href="/beers/{{beer_id}}"><div class="column">{{beer_brand}}</a></div>
      </div>
      <hr />
  {{/each}}
  </div> <!-- wrapper -->
</div>
<!--container-->

<a href="/addbeer"><h3>Add a beer</h3></a>