<div class ="container">
  {{>header}}
  <hr />
  <div id="welcome">
    <h1 class="subtitle is-1 has-text-centered">Welcome</h1>
    <hr />
  </div>

  <div id="leaderboard" class="container columns has-text-centered">
      <span class="column">
        <span id="1" class="tag is-info subtitle is-3">1</span> <!-- position 1 -->
        <hr />
        <span class="image"><a href="/users/1003"><img src="/images/joe.jpg"></a></span> <!-- user image -->
      </span>

      <span class="column">
        <span id="2" class="tag is-info subtitle is-3">2</span> <!-- position 2 -->
        <hr />
        <span class="image"><a href="/users/1004"><img src="/images/rich.jpg"></a></span> <!-- user image -->
      </span>

      <span class="column">
        <span id="3" class="subtitle is-3 tag is-info">3</span> <!-- position 3 --> 
        <hr />
        <span class="image"><a href="/users/1001"><img src="/images/cal.png"></a></span> <!-- user image -->
      </span>

      <span class="column">
        <span id="4" class="subtitle is-3 tag is-info">4</span> <!-- position 4 -->
        <hr />
        <span class="image"><a href="/users/1002"><img src="/images/raj.jpg"></a></span> <!-- user image -->
      </span>
  </div><!--columns-->
    </div><!--row-->
    <div class="row">
    <div class="columns">
    <div id="users">
    </div> <!-- users -->
  </div> <!-- leaderboard -->

{{!-- <div class="has-text-centered">
    <a href="/userlist"><h3 class="button is-primary is-large" >View Users</h3></a>
  </div> --}}
  <div id="selection" class="has-text-centered">
    <a href="/beers">
      <h3 class="button is-large">The Selection</h3>
    </a>
  </div><!--the selection-->
</div><!--container-->


<div class="columns"></div>

