<div class ="container">
  {{>header}}
  <hr />

  <section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="">
      <!-- <h1 class="title">
        Primary bold title
      </h1> -->
      <h4 class="">
        Welcome! This site is an excuse for us EDA scriptkiddies to collaborate and argue about drinking, code, and webdesign while letting off some steam after another crazy week at bootcamp...
      </h4>
    </div>
  </div>
</section>
  <div>
<!--
    <p>Welcome! This site is an excuse for us EDA scriptkiddies to collaborate and argue about drinking, code, and webdesign while letting of some steam after another week at bootcamp...</p> -->
    <hr />

  </div>
    {{> statslevel}}
    <hr />
  </div>

  {{> leaderboard}}

  <div id="selection" class="has-text-centered">
    <a href="/beers">
      <h3 class="button is-large">What's in the fridge?</h3>
    </a>
  </div>

<div id="btnmeme" class="has-text-centered">
  <a href="/beers">
    <h3 class="button is-large">Sure would like a cold meme right about now...</h3>
  </a>
</div>
