<div id="welcome">
  <h1>Welcome</h1>
</div>

<div id="leaderboard">
  <div id="numbers">
    <div id="1"></div> <!-- position 1 -->
    <div id="2"></div> <!-- position 2 -->
    <div id="3"></div> <!-- position 3 --> 
    <div id="4"></div> <!-- position 4 -->
  </div> <!-- numbers -->
  <div id="users">
    <div></div> <!-- user image -->
    <div></div> <!-- user image -->
    <div></div> <!-- user image -->
    <div></div> <!-- user image -->
  </div> <!-- users -->
</div> <!-- leaderboard -->

<!--the selection-->
