{{>header}}
<ul>
  <li><img src="{{image}}" width="300px"></li>
  <li><img src="{{beer_image}}" width="300px"></li>
  <li>{{beer_brand}}</li>
  <li>{{beer_type}}</li>
</ul>

<a href="/addbeer"><h3>Add a beer</h3></a>