body {
  /*background-color: #FCF3CF;*/
  font-family: 'Raleway', sans-serif;
}

/*font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Bangers', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee', cursive;
font-family: 'Faster One', cursive;*/

h1 {
  font-family: 'Bungee Shade', cursive;
}

#selection {
  background-image: url(http://lionco.com/content/styles/landing_hero/public/HeaderImage_Alcohol_AUS_0218.jpg);
  background-repeat: no-repeat;
  background-position: center center
  width: 667px;
  height: 370px;
  max-width: 667px;
  margin: 50px auto 0 auto;
}

#leaderboard {
  /*display: inline-flex;*/
}

/* #header {
  background-color: white;
} */

.form {
  margin-right: 10vw
}

.input {
  width: 60vw;
  float:right
}

.wrapper {
  background-color: #D39948;
  max-width: 500px;
  margin: 50px auto 0 auto;
  height: 500px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.beerimage {
  width:70px
}
