body {
  /*background-color: #FCF3CF;*/
  font-family: 'Raleway', sans-serif;
}

/*font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Lobster Two', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Bangers', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Sigmar One', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee', cursive;
font-family: 'Faster One', cursive;*/

.headertitle {
  font-family: 'Bungee Shade', cursive;
  font-size: 25px;
  position: relative;
  bottom: 20px;

}

.headerimg {
  position: relative;
  top: 6px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

#selection {
  background-image: url(http://lionco.com/content/styles/landing_hero/public/HeaderImage_Alcohol_AUS_0218.jpg);
  background-repeat: no-repeat;
  background-position: center center
  width: auto;
  height: 370px;
  max-width: 667px;
  margin: 50px auto 0 auto;
}

#leaderboard {
  /*display: inline-flex;*/
}

/* #header {
  background-color: white;
} */

.hero.is-medium .hero-body {
  padding-bottom: 4rem;
  padding-top: 4rem;
  background-color: rgba(0, 0, 0, 0.7);

}

.form {
  margin-right: 10vw
}

.input {
  width: 60vw;
  float:right
}

.spacer {
  margin-top: 20px;
}

.navbar-item img {
  max-height: 3rem;
  position: relative;
  bottom: 0px;
}

.wrapper {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  max-width: 80%;
  margin: 50px auto 0 auto;
  /*height: 500px;*/
  padding: 20px;;
  overflow-x: hidden;
  /*overflow-y: scroll;*/
}

.wrapper strong {
  color: white;
}

.image img {
  max-height: 128px;
}

.userimage {
  /*max-width: 30%;*/
}

.media {
  margin-bottom: 20px;
}

.beerimage {
  width:70px
}

.footer {
  margin-top: 20px;
  /*position: absolute;
  bottom: 0;*/
}
